In [9]:
import pandas as pd

In [10]:
cov=pd.read_csv("owid-covid-data.csv")

In [11]:
cov.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [12]:
cov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72337 entries, 0 to 72336
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               72337 non-null  object
 1   continent                              68748 non-null  object
 2   location                               72337 non-null  object
 3   date                                   72337 non-null  object
 4   total_cases                            71331 non-null  float64
 5   new_cases                              71329 non-null  float64
 6   new_cases_smoothed                     70328 non-null  float64
 7   total_deaths                           62230 non-null  float64
 8   new_deaths                             62388 non-null  float64
 9   new_deaths_smoothed                    70328 non-null  float64
 10  total_cases_per_million                70941 non-null  float64
 11  new_cases_per_million                  70939 non-null  float64
 12  new_cases_smoothed_per_million         69943 non-null  float64
 13  total_deaths_per_million               61853 non-null  float64
 14  new_deaths_per_million                 62011 non-null  float64
 15  new_deaths_smoothed_per_million        69943 non-null  float64
 16  reproduction_rate                      58005 non-null  float64
 17  icu_patients                           7613 non-null   float64
 18  icu_patients_per_million               7613 non-null   float64
 19  hosp_patients                          9157 non-null   float64
 20  hosp_patients_per_million              9157 non-null   float64
 21  weekly_icu_admissions                  717 non-null    float64
 22  weekly_icu_admissions_per_million      717 non-null    float64
 23  weekly_hosp_admissions                 1182 non-null   float64
 24  weekly_hosp_admissions_per_million     1182 non-null   float64
 25  new_tests                              32862 non-null  float64
 26  total_tests                            32708 non-null  float64
 27  total_tests_per_thousand               32708 non-null  float64
 28  new_tests_per_thousand                 32862 non-null  float64
 29  new_tests_smoothed                     37463 non-null  float64
 30  new_tests_smoothed_per_thousand        37463 non-null  float64
 31  positive_rate                          36226 non-null  float64
 32  tests_per_case                         35675 non-null  float64
 33  tests_units                            38760 non-null  object
 34  total_vaccinations                     3123 non-null   float64
 35  people_vaccinated                      2648 non-null   float64
 36  people_fully_vaccinated                1746 non-null   float64
 37  new_vaccinations                       2641 non-null   float64
 38  new_vaccinations_smoothed              4604 non-null   float64
 39  total_vaccinations_per_hundred         3123 non-null   float64
 40  people_vaccinated_per_hundred          2648 non-null   float64
 41  people_fully_vaccinated_per_hundred    1746 non-null   float64
 42  new_vaccinations_smoothed_per_million  4604 non-null   float64
 43  stringency_index                       62210 non-null  float64
 44  population                             71938 non-null  float64
 45  population_density                     67579 non-null  float64
 46  median_age                             65771 non-null  float64
 47  aged_65_older                          65013 non-null  float64
 48  aged_70_older                          65400 non-null  float64
 49  gdp_per_capita                         65955 non-null  float64
 50  extreme_poverty                        45049 non-null  float64
 51  cardiovasc_death_rate                  66568 non-null  float64
 52  diabetes_prevalence                    67397 non-null  float64
 53  female_smokers                         52382 non-null  float64
 54  male_smokers                           51663 non-null  float64
 55  handwashing_facilities                 33402 non-null  float64
 56  hospital_beds_per_thousand             60985 non-null  float64
 57  life_expectancy                        68733 non-null  float64
 58  human_development_index                66541 non-null  float64
dtypes: float64(54), object(5)
memory usage: 32.6+ MB

In [13]:
cov.shape

(72337, 59)

In [14]:
cov.size

4267883

In [15]:
cov.dropna(how='all',inplace=False)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72332,ZWE,Africa,Zimbabwe,2/26/2021,36044.0,50.0,47.714,1463.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72333,ZWE,Africa,Zimbabwe,2/27/2021,36058.0,14.0,41.429,1463.0,0.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72334,ZWE,Africa,Zimbabwe,2/28/2021,36089.0,31.0,41.857,1463.0,0.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72335,ZWE,Africa,Zimbabwe,3/1/2021,36115.0,26.0,36.143,1468.0,5.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72336,ZWE,Africa,Zimbabwe,3/2/2021,36148.0,33.0,34.000,1472.0,4.0,3.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [16]:
cov.dropna(how="any")

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

In [17]:
cov.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511